/*** custom variables ***/
:root {
    --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
    --clr-grayish-blue: hsl(212, 23%, 69%);
    --clr-light-grayish-blue: hsl(210, 46%, 95%);
    --clr-white: hsl(0, 0%, 100%);

    --ff-sans: 'Manrope', sans-serif;
    --fs-text: 1.3rem;
    --fs-heading: 1.6rem;
    --fs-heading-desktop: 2rem;

    --fw-regular: 500;
    --fw-bold: 700;

    --br-card: 1rem;
}
/* 375px, 1440px */

/*** reset ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/*** set-up ***/
html {
    font-size: 62.5%; /* 10px = 1rem */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: var(--ff-sans);
    font-size: var(--fs-text);
    font-weight: var(--fw-regular);
    color: var(--clr-desaturated-dark-blue);

    background-color: var(--clr-light-grayish-blue);
}

/*** components ***/
.article-preview {
    position: relative;
    width: 32.6rem;
    height: 51.2rem;
    background-color: var(--clr-white);
    border-radius: var(--br-card);
    box-shadow: 0 2rem 3rem 0 hsla(0, 0%, 0%, 0.1);
}

@media (min-width: 50em) {
    .article-preview {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 73rem;
        height: 28rem;
    }
}

.article-preview__image {
    width: 32.6rem;
    height: 20rem;
    background-image: url(./images/drawers.jpg);
    background-position: 50% -1.6rem;
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-right-radius: var(--br-card);
    border-top-left-radius: var(--br-card);
}

@media (min-width: 50em) {
    .article-preview__image {
        width: 28.5rem;
        height: 28rem;
        background-size: 123%;
        background-position: left top;
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--br-card);
    }
}

/* article preview text */
.article-preview__text-container {
    padding: 3.6rem 3rem 3.2rem 3.2rem;
    word-spacing: 1px;
}

.article-preview__heading {
    font-size: var(--fs-heading);
    font-weight: var(--fw-bold);
    color: var(--clr-very-dark-grayish-blue);
    line-height: 1.5;
}

.article-preview__text {
    margin-top: 1.2rem;
    line-height: 1.54;
}

@media (min-width: 50em) {
    .article-preview__text-container {
        padding: 3.2rem 3rem 2rem 3.9rem;
    }

    .article-preview__heading {
        font-size: var(--fs-heading-desktop);
        line-height: 1.4;
        word-spacing: 2px;
    }

    .article-preview__text {
        word-spacing: 1px;
    }
}

/* article preview bottom information */

.article-preview__info-container {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    position: relative;
    padding: 0 3.2rem;
}

@media (min-width: 50em) {
    .article-preview__info-container {
        padding: 0 3.9rem;
    }
}

.article-preview__avatar {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%; 
}

.article-preview__author {
    font-weight: var(--fw-bold);
    color: var(--clr-very-dark-grayish-blue);
}

.article-preview__date {
    margin-top: 0.2rem;
    color: var(--clr-grayish-blue);
}

/* share button */
.share-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2.5rem;
    right: 3rem;
    z-index: 10;
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.share-button.active {
    bottom: 1.7rem; /* as per design, jumping.. */
    background-color: var(--clr-desaturated-dark-blue);
}

.share-button.active > svg > path {
    fill: var(--clr-light-grayish-blue);
}

@media (min-width: 50em) {
    .share-button {
        bottom: 3.5rem;
        right: 3.8rem;
    }
}

/* article preview bottom information - share overlap / tooltip  */
.share__navigation {
    display: none;
}

.share__navigation.active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.65rem;
    position: absolute;
    width: 100%;
    height: 6.4rem;
    bottom: 0;
    padding: 0 3.2rem;
    background-color: var(--clr-very-dark-grayish-blue);
    border-bottom-right-radius: var(--br-card);
    border-bottom-left-radius: var(--br-card);
    list-style-type: none;
    z-index: 5;
}

.share__label {
    color: var(--clr-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media (min-width: 50em) {
    .share__navigation.active {
        justify-content: center;
        gap: auto;
        right: -6.75rem;
        bottom: 9.45rem;
        width: 24.5rem;
        height: 5.5rem;
        border-radius: var(--br-card);
        box-shadow: 0 1rem 1rem 0 hsla(0, 0%, 0%, 0.1);
    }

    .share-button.active {
        bottom: 3.5rem;
        background-color: var(--clr-desaturated-dark-blue);
    }

    .share__navigation.active::after {
        content: '';
        position: absolute;
        bottom: -0.8rem;
        left: 11.4rem;
        width: 1.8rem;
        height: 1.8rem;
        background-color: var(--clr-very-dark-grayish-blue);
        transform: rotate(45deg);
    }
}

/*** footer ***/
.attribution {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    font-size: 1rem;
    color: var(--clr-very-dark-grayish-blue);
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}