/*** custom variables ***/
:root {
    --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
    --clr-grayish-blue: hsl(212, 23%, 69%);
    --clr-light-grayish-blue: hsl(210, 46%, 95%);

    --ff-sans: 'Manrope', sans-serif;
    --fs-text: 1.3rem;
    --fs-heading: 1.6rem;

    --fw-regular: 500;
    --fw-bold: 700;

    --br-card: 1rem;
}
/* 375px, 1440px */

/*** reset ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

/*** set-up ***/
html {
    font-size: 62.5%; /* 10px = 1rem */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */

    font-family: var(--ff-sans);
    font-size: var(--fs-text);
    font-weight: var(--fw-regular);
    color: var(--clr-desaturated-dark-blue);
}

/***  ***/
.card {
    position: relative;
    width: 32.6rem;
    /* height: 51.2rem; */
    border-radius: var(--br-card);
    box-shadow: 0 2rem 3rem 0 hsla(0, 0%, 0%, 0.1);
}

.card__image {
    width: 32.6rem;
    height: 20rem;
    background-image: url(./images/drawers.jpg);
    background-position: 50% -1.6rem;
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-right-radius: var(--br-card);
    border-top-left-radius: var(--br-card);
}

@media (min-width: 45em) {
    .card {
        width: 70rem;
        height: 34rem;
    }

    .card__image {
        display: inline-block;
    }
}

.card__text-container {
    padding: 3.6rem 3rem 3.2rem 3.2rem;
    word-spacing: 1px;
}

.card__heading {
    height: 6rem;
    font-size: var(--fs-heading);
    font-weight: var(--fw-bold);
    color: var(--clr-very-dark-grayish-blue);
    line-height: 1.5;
}

.card__text {
    margin-top: 2.4rem;
    line-height: 1.54;
}

/* bottom information */

.info[data-visible="true"] {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    height: 6rem;
    padding: 0 3.2rem;
}

.info[data-visible="false"] {
    display: none;
}

.info__container {
    display: flex;
    gap: 1.3em;
}

.info__avatar {
    display: block;
    width: 4rem;
    border-radius: 50%;
    aspect-ratio: 1;
}

.info__name {
    font-weight: var(--fw-bold);
    color: var(--clr-very-dark-grayish-blue);
}

.info__date {
    margin-top: 0.2rem;
    color: var(--clr-grayish-blue);
}

.info__share-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.info__share-button--card {
    margin-top: 0.3em;
    background-color: var(--clr-light-grayish-blue);;
}

/* bottom information - share overlap / tooltip  */
.info__share__navigation[data-visible="false"] {
    display: none;
}

.info__share__navigation[data-visible="true"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.65rem;
    width: 100%;
    height: 6.4rem;
    margin-top: -1.2rem;
    padding: 0 3.2rem;
    background-color: var(--clr-very-dark-grayish-blue);
    border-bottom-right-radius: var(--br-card);
    border-bottom-left-radius: var(--br-card);
}

.info__share__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.65rem;
    list-style-type: none;
}

.info__share__label {
    color: var(--clr-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.info__share-button--overlap {
    background-color: var(--clr-desaturated-dark-blue);
}

.info__share-button--overlap > svg > path {
    fill: var(--clr-light-grayish-blue);
}

@media (min-width: 45em) {
    .card__share__navigation[data-visible="true"] {
        justify-content: center;
        gap: 1rem;
        bottom: 15rem;
        right: -8rem;
        width: 100%;
        height: 6rem;
        padding: 1rem 2rem;
        background-color: var(--clr-desaturated-dark-blue);
        border-radius: var(--br-card);
        box-shadow: 0 3rem 2rem 0 hsla(0, 0%, 0%, 0.2);
    }

    .card__share__navigation[data-visible="true"]::after {
        content: '';
        position: absolute;
        bottom: -1rem;
        width: 2rem;
        background-color: transparent;
        border-top: 1rem solid var(--clr-desaturated-dark-blue);;
    }
}

/*** footer ***/
.attribution {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    font-size: 1rem;
    color: var(--clr-very-dark-grayish-blue);
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}